* {
  box-sizing: border-box;
}
/* html {
  scrollbar-width: none
} */
/* NOT SUPPORTED IN FIREFOX START */
/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track-piece {
  background: rgba(81, 89, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #4C53E7;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
/* NOT SUPPORTED IN FIREFOX END*/


body {
  background: white;
}
nav {
  display: block;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  /* height: 97px; */
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}

p {
  font-family: 'Gotham Pro', sans-serif;
  /* color: white; */
  font-weight: 400;
  font-size: 20px;
}
button {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 22px;
  cursor: pointer;
  background-color: #5159FF;
  border: 1px solid white;
  border-radius: 10px;
}
button a {
  color: white;
}
button:active {
  background-color: #4C53E7;
  transform: translateY(2px);
}
.plakat-anim, .plakat-inter {
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 10px;
  text-decoration: underline;
}
/* TOOLS START*/
.model {
  position: absolute;
  /* height: 100vh; */
  width: 100%;
  opacity: .8;
  top: 0;
  left: 0;
  pointer-events: none;
}
.myviewport-glav {
  height: 2604px;
  z-index: 1000;
}
.affichage-on {
  display: block;
}
.affichage-off {
  display: none;
}
.positionabs {
  position: absolute;
}
.positionrel {
  position: relative;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* TOOLS END*/

.pageglav {
  position: relative;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* height: 1270px; */
  height: 2540px;
  /* height: 400vh; */
  overflow: hidden;
}
.section {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  height: 25%;
  display: flex;
  flex-direction: column;
}
.section-row {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.navigation {
  height: 95px;
  z-index: 100;
}
.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.nav-button {
  font-size: 18px;
  /* line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em; */
  font-family: 'Gotham Pro', sans-serif;
  font-weight: lighter;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1 183px;
  border-radius: 10px;
  background: rgba(81, 89, 255, 1);
  border: 1px solid white;
  cursor: pointer;
}
.nav-button:nth-of-type(1) {
  flex: 2 366px;
  /* width: 366px; */
}
.nav-button:hover {
  color: rgba(81, 89, 255, 1);
  background: white;
  border: 2px solid rgba(81, 89, 255, 1);
}
.icon-glav {
  width: 281px;
  height: 72px;
  /* display: block; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#logo {
  background-image: url("../images/logo-blanc.svg");
}
#logo:hover {
  background-image: url("../images/logo-bleu.svg");
}
.no-click {
  pointer-events: none;
}
.cursor {
  cursor: pointer;
}
.box {
  position: relative;
  /* display: block; */
  /* display: inline-block; */
  background: rgba(81, 89, 255, 1);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: 'Gotham Pro', sans-serif;
}
.box-b {
  position: relative;
  display: inline-block;
  background: white;
  border: 1px solid rgba(81, 89, 255, 1);
  border-radius: 10px;
  color: rgba(81, 89, 255, 1);
  font-family: 'Gotham Pro', sans-serif;
}
.box1 {
  height: 80%;
  width: 100%;
}
/* #a {
  height: 517px;
  width: 100%;
} */
.img1 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.box2 {
  width: 100%;
  height: 5%;
}
.title {
  width: 100%;
  height: 127px;
  display: flex;
  flex-direction: row;
}
.box3 {
  width: 60%;
  height: 127px;
}
.box4-a, .box4-b {
  width: 20%;
  height: 127px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box4-a p, .box4-b p {
  font-weight: 300;
  font-size: 24px;
}
.depart {
  height: 508px;
  width: 100%;
}
.box5 {
  width: 100%;
  height: 60px;
  /* display: inline-block; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}
.smalbox {
  height: 100%;
  width: 16%;
}
.date {
  margin-top: 20px;
  margin-left: 40%;
}
.vremia {
  margin-top: 20px;
  margin-left: 35%;
}
.inf {
  margin-top: 20px;
  margin-left: 55%;
}
.box6 {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box6 p {
  font-weight: 300;
  font-size: 20px;
}
.box6:hover {
  background: white;
  border: 2px solid rgba(81, 89, 255, 1);
}
.box6:hover p {
  color: rgba(81, 89, 255, 1);
}
.s3 {
  /* top: 1270px; */
  height: 635px;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rond {
  z-index: -1;
  display: block;
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 50%;
}
.red {
  background: red;
}
.yel {
  background: yellow;
}
.blue {
  background: blue;
}
.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 477px;
  width: 100%;
}
.row {
  height: 97px;
  width: 71vw;
  display: flex;
}
.card1 {
  width: 66%;
  height: 100%;
}
.card {
  border-radius: 10px;
  background: rgba(255, 255, 255, .6);
  border: 1px solid white;
  padding-left: 40px;
  padding-top: 38px;
  backdrop-filter: blur(8px);
  color: white;
}
.box7 {
  width: 34%;
  height: 100%;
}
.half {
  /* display: inline-block !important; */
  /* display: block !important; */
  position: relative;
  width: 50%;
}
.box8 {
  width: 100%;
  height: 127px;
}
.box9 {
  width: 100%;
  height: 381px;
}
.box9 p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
.cadre {
  display: flex;
  height: 127px;
}
.box10 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  display: block;
  position: relative;
  width: 100%;
  height: 64px;
  font-weight: 300;
}
.bg-grad {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h635 {
  height: 635px;
}
.gradient {
  width: 150vw;
}
