@import 'reset.css';
@import 'layout.css';

@font-face {
  font-family: 'Gotham Pro', sans-serif;
  src:url('../fonts/GothaProReg.otf');
  /* font-style: normal; */
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham Pro', sans-serif;
  src:url('../fonts/GothaProLig.otf');
  /* font-style: normal; */
  font-weight: 300;
}
@font-face {
  font-family: 'Gotham Pro', sans-serif;
  src:url('../fonts/GothaProBol.otf');
  /* font-style: normal; */
  font-weight: 700;
}
